:root{
    --bg: #043873;
    --azul: #4F9CF9;
    --amarelo: #FFE492;
    --cor-heading: #212529;
    --cor-texto: white;
    --bold-header: 700;
    --bold-botao: 500;
    --bold-texto: 400;
    --font-principal: 'Inter', sans-serif;
    --font-select: 'DM Sans', sans-serif;
}

body{
    overflow-x: hidden;
}

html{
    font-size: 16px;
}

button{
    cursor: pointer;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-family: var(--font-principal);
    font-weight: var(--bold-botao);
    transition: 1000ms;
}

button:hover{
    filter: saturate(0.5);
    transition: 1000ms;
}
.try i{
    font-size: 1.5rem;
    padding-bottom: 3px;
    padding-left: 10px;

}
.try{
    background-color: var(--azul);
    color: var(--cor-texto);
}

.login{
    background-color: var(--amarelo);
    color: var(--cor-heading);
    padding-inline: 1.5rem;
    margin-left: -2rem;
    padding-block: 1.3rem;
}

/* ----------- CSS RESET ----------- */
*{
    margin: 0;
    padding: 0;
    border: none;
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: inherit;
}

/*-----------RESPONSIVIDADE -----------*/

@media screen and (max-width: 768px) {
    html{
        font-size: 14px;
    }
    nav button{
        display: none;
    }
    
    header .content{
        align-items: center;
        text-align: center;
    }
    header .content .slogan{
        max-width: 50%;
        padding-block: 2rem;
    }
    header .content .texto{
        margin-block: 2rem 4rem;
    }
    main {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap-reverse;
    }

    main{
        height: 200%
    }
    main .content{
        align-items: center;
        margin-top: 5rem;
        margin-left: 0!important;
        width: 100%;
        text-align: center;
    }
    main .content .texto{
        width: 100%;
    }

}

/* -----------NAVBAR ----------- */
nav{
    background-color: var(--bg);
    width: 100%;
    height: 5.75rem;
    display: flex;
    align-content: center;
    justify-content: space-around;
    /* position: fixed; */
}

.logo-box,
nav .menu{
    display: inherit;
    align-items: center;
    justify-content: space-evenly;
    color: var(--cor-texto);
}

.logo-box img{
    width: 1.5rem;
    height: 1.5rem;
}

.logo-box p{
    margin-left: 0.52rem;
    font-family: var(--font-principal);
    font-weight: var(--bold-header);
}

nav .menu{
    width: 60%;
    justify-content: space-between;
}

.menu .opcoes{
    width: 60%;
    display: inherit;
    justify-content: space-evenly;
}

.opcoes select{
    background-color: transparent;
    color: var(--cor-texto);
    border: none;
    margin-left: -1rem;
}

.opcoes label{
    font-family: var(--font-select);
    font-size: 1rem;
}

.menu .botoes{
    width: 35%;
    height: 100%;
    display: inherit;
    justify-content: space-around;
    align-items: center;
}

.botoes button,
.content button{
    height: fit-content;
    width: fit-content;
}

/* ---------- HEADER --------- */
header{
    background-color: var(--bg);
    background-image: url("https://jean-mb.github.io/avaliacao03-segundo-periodo/imgs/curvas.svg");
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

header .content{
    margin-top: 8rem;
    height: 50%;
    width: 80%;
    display: inherit;
    flex-direction: column;
    justify-content: space-evenly;
}

header .content .slogan,
.content .texto{
    color: var(--cor-texto);
    font-family: var(--font-principal);

}

.content .slogan{
    font-weight: var(--bold-header);
    font-size: 2.8rem;
}

.content .texto{
    font-weight: var(--bold-texto);
    font-size: 1rem;
    margin-top: -2rem
}

/* ----------- MAIN ------------ */

main {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.imagem-main{
    width: 50%;
    height: 70%;
}

.imagem-main img{
    width: 100%;
    height: 100%;
}

main .content{
    width: 50%;
    height: 45%;
    display: inherit;
    flex-direction: column;
    justify-content: space-between;
}

main .content .slogan{
    font-family: var(--font-principal);
    font-weight: var(--bold-header);
    color: var(--cor-heading);

}

main .content .texto{
    line-height: 1.8rem;
    width: 35rem;
    color: var(--cor-heading);
    font-size: .9rem;
}

/* ----------- FOOTER ------------- */

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--bg);
    width: 100%;
    height: 4rem;

}


footer .links,
footer .icons{
    height: 100%;
    display: inherit;
    justify-content: space-evenly;
    align-items: center;
}
footer .links{
    width: 40%;
}
footer .links a{
    color: var(--cor-texto);
    font-family: var(--font-principal);
    font-weight: var(--bold-texto);
    font-size: .75rem;
}

footer .icons{
    width: 10%;
}

footer .icons a i{
    color: var(--cor-texto);
}