:root{
    --bg: #043873;
    --azul: #4F9CF9;
    --amarelo: #FFE492;
    --cor-heading: #212529;
    --cor-texto: white;
    --cor-texto-secundario: #F7F7EE
}


html{
    font-size: 16px;
}

*{
    margin: 0;
    padding: 0;
    border: none;
    font-size: 1rem;
}

@media screen and (max-width: 768px) {
    html{
        font-size: 14px;
    }
}

a {
    text-decoration: none;
    color: inherit;
}